@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #ffffff; 
    --sub-background: #f5f6f7;
    --foreground: #0a0e19; 

    --card: #ffffff;
    --card-foreground: #0a0e19;
 
    --popover: #ffffff; 
    --popover-foreground: #0a0e19;
 
    --neon-primary: #510abb; 
 
    --primary: #640fd4; 
    --phover : #5904c8; 
    --primary-muted: #5104b6;
    --primary-foreground: #f1ebf6;
 
    --secondary: #eaf4fc; 
    --secondary-foreground: #222127; 
 
    --muted: #787878; 
    --muted-foreground: #6f8c96;
 
    --accent: #eaf4fc; 
    --accent-foreground: #222127; 
 
    --destructive: #ff6659;  
    --destructive-foreground: #e5f6ff; 

    --border: #d7e2f1; 
    --input: #d7e2f1; 
    --ring: #5f6b9e; 
 
    --radius: 0.5rem;

    --gold: #ffaa00; 
    --silver: #bfbfbf; 
  
    --success: #3cc35b; 
  }
 
  .dark {
    --background: #0c1423;
    --sub-background : #0c0a39;
    --foreground: #e5f6ff; 
 
    --card: #0a0e19; 
    --card-foreground: #e5f6ff; 
 
    --popover: #0a0e19; 
    --popover-foreground: #e5f6ff; 

    --neon-primary: #510abb; 
 
    --primary: #291f53; 
    --phover : #311e7c; 
    --primary-muted: #1a0b3f;
    --primary-foreground: #f1ebf6;
 
    --secondary: #2e3549; 
    --secondary-foreground: #e5f6ff; 
 
    --muted: #807f7f; 
    --muted-foreground: #9eaab8; 
 
    --accent: #2e3549; 
    --accent-foreground: #e5f6ff; 
 
    --destructive: #7d1e1e; 
    --destructive-foreground: #e5f6ff; 
 
    --border: #2e3549; 
    --input: #2e3549; 
    --ring: #d2d9ef;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.active-nav-link {
  @apply text-neon-primary font-semibold;
}