@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0c1423;
    --sec-background: #111824;
    --sub-background : #0f0a24;
    --foreground: #e5f6ff; 

    --logo-text: #6a65b5;
 
    --card: #0a0e19; 
    --card-foreground: #e5f6ff; 
 
    --popover: #0a0e19; 
    --popover-foreground: #e5f6ff; 

    --neon-primary: #5a0dcd; 
 
    --primary: #301f7b; 
    --phover : #8b5cf6; 
    --primary-muted: #210d55;
    --primary-foreground: #f1ebf6;
 
    --secondary: #2e3549; 
    --secondary-foreground: #e5f6ff; 
 
    --muted: #3b3b3b; 
    --muted-foreground: #9eaab8; 
 
    --accent: #202634; 
    --accent-foreground: #e5f6ff; 
 
    --destructive: #7d1e1e; 
    --destructive-foreground: #e5f6ff; 
 
    --border: #2e3549; 
    --input: #2e3549; 
    --ring: #d2d9ef;
  }

  .dark {
    --background: #0c1423;
    --sec-background: #111824;
    --sub-background : #0f0a24;
    --foreground: #e5f6ff; 

    --logo-text: #6a65b5;
 
    --card: #0a0e19; 
    --card-foreground: #e5f6ff; 
 
    --popover: #0a0e19; 
    --popover-foreground: #e5f6ff; 

    --neon-primary: #560cb0; 
 
    --primary: #301f7b; 
    --phover : #8b5cf6; 
    --primary-muted: #210d55;
    --primary-foreground: #f1ebf6;
 
    --secondary: #2e3549; 
    --secondary-foreground: #e5f6ff; 
 
    --muted: #3b3b3b; 
    --muted-foreground: #9eaab8; 
 
    --accent: #202634; 
    --accent-foreground: #e5f6ff; 
 
    --destructive: #7d1e1e; 
    --destructive-foreground: #e5f6ff; 
 
    --border: #2e3549; 
    --input: #2e3549; 
    --ring: #d2d9ef;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
